.flower {
  position: relative;
  width: 100px;
  height: 52px;
}

.petal {
  position: absolute;
  width: 10px;
  height: 26px;
  clip-path: polygon(70% 0%, 30% 0%, 0% 100%, 100% 100%);
  border-radius: 10px;
}

.petal:nth-child(1) {
  bottom: 0;
  left: 40px;
}

.petal:nth-child(2) {
  left: 40px;
  transform: rotate(180deg);
}

.petal:nth-child(3) {
  bottom: 5px;
  right: 38px;
  transform: rotate(-60deg);
}

.petal:nth-child(4) {
  bottom: 5px;
  left: 28px;
  transform: rotate(60deg);
}

.petal:nth-child(5) {
  top: 7px;
  left: 28px;
  transform: rotate(-240deg);
}

.petal:nth-child(6) {
  top: 7px;
  right: 38px;
  transform: rotate(240deg);
}
